.container {
  margin-top: 192px;

  @include tablet {
    margin-top: 63px;
  }

  .headline_area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.image_box {
  display: flex;
}

.headline {
  padding-top: 20px;
  font-size: 46px;
  font-weight: 800;
  line-height: 46px;
  text-align: center;

  @include mobile {
    font-size: 34px;
  }
}

.headline_description {
  font-size: 22px;
  font-weight: 300;
  line-height: 46px;
  @include ellipse(2);

  @include tablet {
    font-size: 20px;
  }

  @include mobile {
    margin-top: 20px;
    font-size: 22px;
    line-height: 1;
  }
}

.description {
  padding-top: 15px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  line-height: 36px;
  @include ellipse(2);
  @include tablet {
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
  }
  @include mobile {
    font-weight: 300;
  }
}

.en_headline {
  font-family: var(--font-en);
  font-size: 14px;
  color: #6f6f6f;
  letter-spacing: 5px;
  text-align: center;
  line-height: 30px;
}

.section_visual {
  padding: 240px 0 315px;
  background: url("../images/img_visual_background.png") no-repeat center center;
  background-size: cover;

  @include mobile {
    padding: 180px 0 190px;
    background: url("../images/img_visual_background_mobile.png") no-repeat
      center center;
    background-size: cover;
  }

  .inner {
    width: 68.359%;
    max-width: none;

    @include tablet {
      width: 76.302%;
    }
  }

  .image_box {
    flex-direction: column;
    gap: 80px;

    @include mobile {
      gap: 50px;
    }
  }
}

.section_service {
  padding: 95px 40px;
  background: #fff;

  @include mobile {
    padding: 70px 30px;
  }

  .inner {
    max-width: 1300px;

    @include mobile {
      max-width: none;
    }
  }

  .headline {
    font-size: 36px;
    color: #478a2b;
    text-align: center;
    @include mobile {
      font-size: 26px;
    }
  }

  .headline_description {
    text-align: center;

    @include mobile {
      margin-top: 0;
      font-size: 16px;
      line-height: 1;
    }
  }

  .service {
    &_list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 50px;
      padding: 50px 0 45px;

      @include mobile {
        gap: 10px;
      }
    }

    &_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .image_box {
    width: 110px;
    height: 110px;
    padding: 20px;
    border-radius: 50%;
    background: rgba(81, 86, 93, 0.05);
  }

  .description {
    padding-top: 16px;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    @include ellipse(2);
  }
}

.section_system {
  padding: 110px 40px 0 40px;
  background: #dff1f5;

  @include mobile {
    padding: 40px 30px 20px;
  }

  .inner {
    position: relative;

    .headline_area {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);
      width: 100%;
      max-width: 400px;
      animation: opacityAni 1s;

      .en_headline {
        order: -1;
      }

      .headline_description {
        color: #656768;
      }
    }
  }

  .image_box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: calc((751 / 1122) * 100%);
    picture {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      @include mobile {
        margin-top: 80px;
      }
      img {
        height: 100%;
      }
    }
  }

  .description {
    position: absolute;
    bottom: 95px;
    width: 100%;
    color: #656768;

    @include mobile {
      bottom: 0;
    }
  }
}

.section_distribution {
  padding: 240px 0;
  background: url("../images/img_distribution_background.jpg") no-repeat center;
  background-size: cover;
  color: #fff;

  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headline_area {
    max-width: 600px;
    overflow: hidden;
  }
  .description {
    @include mobile {
      padding: 45px 30px;
      word-break: auto-phrase;
      @include ellipse(4);
    }
  }
  .en_headline {
    width: 100%;
    order: -1;
    color: #6f6f6f;
  }
  .question_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;

    &:hover {
      background: #fff;
      color: #000000;
      transition: 1s;
      cursor: pointer;
    }
  }
}

.section_promotion {
  padding: 200px 0;

  .inner {
    @include mobile {
      padding: 0 30px;
    }
    color: #fff;
  }
  .headline_area {
    max-width: 400px;
    margin: 0 auto;
  }
  .en_headline {
    order: -1;
  }

  .sns {
    &_list {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 75px;

      @include tablet {
        flex-wrap: wrap;
      }

      @include mobile {
        margin-top: 40px;
      }

      @media screen and (min-width: 578px) {
        padding: 0 70px;
      }
    }

    &_item {
      @include noneMobile {
        &:not(&.link) {
          display: flex;
          align-items: center;

          &:after {
            display: block;
            width: 6px;
            height: 6px;
            margin: 0 25px;
            border-radius: 50%;
            background: #97999a;
            content: "";
          }
        }
      }
      @include mobile {
        padding: 10px 0;
        display: flex;
        align-items: center;
        &:nth-child(2),
        &:nth-child(5) {
          &::before,
          &::after {
            display: block;
            width: 6px;
            height: 6px;
            margin: 0 25px;
            border-radius: 50%;
            background: #97999a;
            content: "";
          }
        }
      }
    }

    &_link {
      display: block;
      position: relative;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      background: url("../images/img_instagram_background.png");

      @include mobile {
        width: 80px;
        height: 80px;
        background-position: -13px -4px;
      }

      @include mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
      }

      &::before {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 110px;
        height: 110px;
        content: "";

        @include tablet {
          width: 80px;
          height: 80px;
          background-size: cover;
        }

        @include mobile {
          width: 35px;
          height: 35px;
          background-size: cover;
        }
      }
    }
  }

  .instagram {
    .sns_link {
      &::before {
        background: url("../images/ico_instagram.svg") no-repeat;
        background-size: 47px 100%;
        background-position: center;
      }
    }
  }

  .facebook {
    .sns_link {
      background: #395595;

      &::before {
        background: url("../images/ico_facebook.svg") no-repeat;
        background-size: 21px 100%;
        background-position: center;
      }
    }
  }

  .youtube {
    .sns_link {
      background: #e70a03;

      &::before {
        background: url("../images/ico_youtube.svg") no-repeat;
        background-size: 54px 100%;
        background-position: center;
      }
    }
  }

  .tictok {
    .sns_link {
      background: #000000;

      &::before {
        background: url("../images/ico_tictok.svg") no-repeat;
        background-size: 41px 100%;
        background-position: center;
      }
    }
  }

  .blog {
    .sns_link {
      background: #2db400;

      &::before {
        background: url("../images/ico_blog.svg") no-repeat;
        background-size: 56px 100%;
        background-position: center;
      }
    }
  }

  .link {
    .sns_link {
      background: #ffffff;

      &::before {
        background: url("../images/ico_link.svg") no-repeat;
        background-size: 40px 100%;
        background-position: center;
      }
    }
  }

  .description {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    color: #d1d5db;
    word-break: keep-all;
    @include mobile {
      @include ellipse(3);
    }
  }
}

.section_platform {
  padding-top: 95px;
  background: #1c1e20;
  color: #fff;

  .inner {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;

    .headline {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: var(--font-en);

      span:nth-child(2) {
        font-weight: 400;
      }
    }

    .en_description {
      margin-top: 40px;
      padding: 0 30px;
      font-family: var(--font-en);
      font-size: 16px;
      color: #6f6f6f;
      text-align: center;

      @include mobile {
        padding: 0 50px;
      }
    }

    .partner_area {
      position: relative;
      margin-top: 45px;
      padding: 0 50px;
    }
  }

  .swiper {
    &-wrapper {
      align-items: center;
    }

    &-slide {
      border: 1px solid #4a4c4f;

      .image_box {
        display: block;
        position: relative;
        width: 100%;
        padding-bottom: calc((84 / 208) * 100%);

        svg,
        img {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          height: 100%;
          width: 60%;
          object-fit: contain;
        }
      }
    }
  }

  .slide_button {
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 23px;
    height: 40px;

    &_prev {
      left: 10px;
      transform: translateY(-50%) rotate(0deg);
      background: url("../images/ico_slide_arrow.png") no-repeat;
      background-position: center;
    }

    &_next {
      right: 10px;
      transform: translateY(-50%) rotate(180deg);
      margin-left: 600px;
      background: url("../images/ico_slide_arrow.png") no-repeat;
      background-position: center;
    }
  }
}

.section_albums {
  padding-bottom: 100px;
  margin-top: 50px;

  .inner {
    padding: 0 40px;
    max-width: 2080px;
  }

  .album {
    &_list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 10px;

      @include tablet {
        grid-template-columns: repeat(3, 1fr);
      }

      @include mobile {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &_item {
      overflow: hidden;

      .album_link {
        display: block;
        position: relative;
        padding-bottom: calc((345 / 492) * 100%);
        &:hover {
          transition: 0.4s;
          transform: scale(1.2);
        }
        img {
          position: absolute;
          top: 0;
          height: 100%;
        }
      }

      &:nth-child(2),
      &:nth-child(6) {
        grid-row: span 2;
        .album_link {
          padding-bottom: calc((701 / 492) * 100%);
        }
      }
    }
  }
}

.section_faq {
  padding: 100px 0;
  background: #36383b;

  .inner2 {
    max-width: 1340px;
    padding: 0 90px;

    @include tablet {
      padding: 0 40px;
    }
  }
  .headline_area {
    max-width: 400px;
    margin: 0 auto;
    overflow: hidden;
  }

  .headline {
    font-family: var(--font-en);
    color: #fff;
  }

  .en_headline {
    order: -1;
  }

  .faq {
    &_list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 45px auto 0;

      .sub_list {
        display: none;
      }
    }

    &_item {
      position: relative;
      padding: 25px 35px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      font-size: 18px;
      font-weight: 700;
      color: #fff;
      line-height: 30px;
      transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;

      &_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        text-align: left;

        &::after {
          display: block;
          width: 12px;
          height: 12px;
          margin-left: 10px;
          background: url("../images/ico_arrow.png") no-repeat;
          content: "";
        }

        &[aria-expanded="true"] {
          padding-bottom: 25px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);

          &::after {
            transform: rotate(180deg);
          }
          & + .sub_list {
            display: block;
            padding-top: 20px;
            font-size: 16px;
            font-weight: 300;
            color: rgba(209, 213, 219, 0.5);
            line-height: 24px;
          }
        }
      }
    }
  }
}

.section_info {
  background: #fff;

  .inner {
    display: flex;
    align-items: center;
    max-width: 1920px;

    @include tablet {
      flex-wrap: wrap;
    }

    @include mobile {
      display: block;
    }

    .company_info_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      padding: 120px 0;

      @include tablet {
        width: 50%;
        flex: auto;
      }

      @include mobile {
        width: 100%;
      }

      &:nth-child(2n) {
        height: 100%;
        background: #f6f6f7;
      }

      [class*="_icon"] {
        &::before {
          display: block;
          width: 40px;
          height: 40px;
          content: "";
        }
      }

      .address_icon {
        &::before {
          height: 41.5px;
          background: url("../images/ico_address.svg") center / cover no-repeat;
        }
      }

      .office_hour_icon {
        &::before {
          background: url("../images/ico_hour.svg") center / cover no-repeat;
        }
      }

      .email_icon {
        &::before {
          background: url("../images/ico_email.svg") center / cover no-repeat;
        }
      }

      .inquiry_icon {
        &::before {
          background: url("../images/ico_inquiry.svg") center / contain
            no-repeat;
        }
      }

      .title {
        padding-top: 15px;
        font-family: var(--font-en);
        font-weight: 600;
        color: #2e3032;
      }

      .info_description {
        padding-top: 10px;
        font-size: 16px;
        font-weight: 400;
        color: #656768;
        text-align: center;
        line-height: 24px;
      }
    }
  }
}
