// 데스크탑 
.header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background: #36383b;

  .inner {
    height: 126px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;

    @include tablet {
      height: 63px;
    }

    .logo-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      width: 100%;
      height: 100%;

      @include tablet {
        width: auto;
      }

      .logo {
        width: 102px;

        @include tablet {
          width: 45px;
        }

        img {
          object-fit: cover;
        }
      }
    }

    .btn {
      display: none;

      @include tablet {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &::after {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background-position: center;
      }

      &.menu-btn {
        &::after {
          background: url("../images/menu-btn.png") no-repeat;
          background-size: cover;
        }

        @include tablet {
          order: -1;
        }
      }

      &.tel-btn {
        &::after {
          background: url("../images/tel.png") no-repeat;
          background-size: cover;
        }
      }
    }
  }
}

.gnb {
  height: 66px;
  border-top: 1px solid #4a4c4f;
  border-bottom: 1px solid #1c1e20;
  background: #2e3032;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 0;
    transition: height .4s;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  @include tablet {
    display: none;
  }

  .inner {
    height: 100%;

    .nav {
      &-list {
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;
      }

      &-item {
        display: flex;
        justify-content: center;
        font-family: var(--font-en);
        font-size: 18px;
        font-weight: 600;
        position: relative;

        a {
          display: flex;
          align-items: center;
          color: #fff;
        }

        &.active>a {
          color: #ef4035;
          border-top: 1px solid #ef4035;
        }
      }
    }

    .sub {
      &-list {
        position: absolute;
        top: 100%;
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: height padding .4s;
      }

      &-item {
        padding: 10px 0;
        color: #fff;
        font-size: 16px;
        font-weight: 200;
        line-height: 30px;
        width: 100%;

        a {
          display: block;
          padding: 3px 13px 3px 0;
        }
      }
    }
  }

  &.active {
    &::before {
      min-height: 700px;
    }

    .sub-list {
      padding-top: 15px;
      height: fit-content;
    }
  }
}

.mo-gnb {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background: #2e3032;
  z-index: 1000;
  transform: translateX(-100%);
  transition: all .3s;
  overflow-y: auto;

  &.isAct {
    transform: none;
    color: #fff;
    font-family: var(--font-en);
    font-weight: 600;

    .group-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #4a4c4f;
      background: #36383b;
      width: 100%;
      padding: 15px 25px;
    }

    .home-btn {
      content: "";
      display: block;
      background: url("../images/home.png") no-repeat;
      background-size: contain;
      background-position: center;
      width: 32px;
      height: 32px;
    }

    .menu-close {
      content: "";
      display: block;
      background: url("../images/menu-close.png") no-repeat;
      width: 20px;
      height: 20px;
      background-size: contain;
    }

    .nav {
      &-list {
        display: flex;
        flex-direction: column;
      }

      &-item {
        font-size: 17px;
        line-height: 50px;
        border-bottom: 1px solid #444649;

        &.hasSubMenu {
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          &.on {
            background: #ef4035;

            .nav-link {
              &::after {
                transform: rotate(180deg);
              }
            }

            .sub-list {
              background: #000;
              display: flex;
              flex-direction: column;
            }
          }

          .nav-link {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &::after {
              content: "";
              display: block;
              width: 10px;
              height: 10px;
              background: url("../images/icon_drop_up.png") no-repeat;
              background-position: center;
              background-size: contain;
            }
          }
        }
      }

      &-link {
        display: block;
        height: 100%;
        padding: 0 25px;
      }
    }

    .sub {
      &-list {
        // display: none;
        height: 0;
        list-style: none;
        overflow: hidden;
        transition: height ease-out 0.3s;

      }

      &-item {
        color: #fff;
        font-size: 16px;
        font-weight: 200;
        line-height: 30px;

        &:not(:last-child) {
          border-bottom: 0.5px solid #444649;
        }

        a {
          display: flex;
          align-items: center;
          padding: 5px 45px;
        }

      }
    }
  }
}