.header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background: #36383b;

  .inner {
    display: flex;
    justify-content: space-between;
    height: 126px;
    padding: 0 30px;

    @include tablet {
      height: 63px;
    }

    .logo_area {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      width: 100%;
      height: 100%;

      @include tablet {
        width: auto;
      }

      .logo {
        width: 102px;

        @include tablet {
          width: 45px;
        }
      }
    }

    .header_button {
      display: none;

      @include tablet {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &::after {
        display: block;
        width: 30px;
        height: 30px;
        background-position: center;
        content: "";
      }

      &.menu_button {
        &::after {
          background: url("../images/btn_burger.png") no-repeat;
          background-size: cover;
        }

        @include tablet {
          order: -1;
        }
      }

      &.tel_button {
        &::after {
          background: url("../images/ico_tel.png") no-repeat;
          background-size: cover;
        }
      }
    }
  }
}

.gnb {
  position: relative;
  height: 66px;
  border-top: 1px solid #4a4c4f;
  border-bottom: 1px solid #1c1e20;
  background: #2e3032;

  &::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: height 0.4s;
    content: "";
  }

  @include tablet {
    display: none;
  }

  .inner {
    height: 100%;

    .nav {
      &_list {
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;
      }

      &_item {
        position: relative;
        display: flex;
        justify-content: center;
        font-family: var(--font-en);
        font-size: 18px;
        font-weight: 600;

        &_title {
          display: flex;
          align-items: center;
          color: #fff;
        }

        &.is_active {
          .nav_item_title {
            color: #ef4035;
            border-top: 1px solid #ef4035;
          }
        }
      }
    }

    .sub {
      &_list {
        overflow: hidden;
        position: absolute;
        top: 100%;
        width: 100%;
        height: 0;
        transition: height 0.4s;
      }

      &_item {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        font-weight: 200;
        color: #fff;
        line-height: 30px;

        &_title {
          display: block;
          padding: 3px 13px 3px 0;
        }
      }
    }
  }

  &[aria-expanded="true"] {
    &::before {
      min-height: 700px;
    }

    .sub_list {
      padding-top: 15px;
      height: fit-content;
    }
  }
}

.gnb_mobile {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  z-index: 4;
  background: #2e3032;
  transform: translateX(-100%);
  transition: transform 0.3s;

  &.is_show {
    transform: none;
    font-family: var(--font-en);
    font-weight: 600;
    color: #fff;

    .button_area {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 15px 25px;
      border-bottom: 1px solid #4a4c4f;
      background: #36383b;
    }

    .home_button {
      display: block;
      width: 32px;
      height: 32px;
      background: url("../images/ico_home.png") center / contain no-repeat;
    }

    .menu_close_button {
      display: block;
      width: 20px;
      height: 20px;
      background: url("../images/btn_close.png") no-repeat;
      background-size: contain;
    }

    .nav {
      &_list {
        display: flex;
        flex-direction: column;
      }

      &_item {
        border-bottom: 1px solid #444649;
        font-size: 17px;
        line-height: 50px;

        &.has_sub_list {
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          &.is_show {
            background: #ef4035;

            .nav_item_title {
              &::after {
                transform: rotate(180deg);
              }
            }

            .sub_list {
              display: flex;
              flex-direction: column;
              background: #000;
            }
          }

          .nav_item_title {
            &::after {
              display: block;
              width: 10px;
              height: 10px;
              background: url("../images/ico_arrow.png") center / contain
                no-repeat;
              content: "";
            }
          }
        }

        &_title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          height: 100%;
          padding: 0 25px;
        }
      }
    }

    .sub {
      &_list {
        overflow: hidden;
        height: 0;
        transition: height ease-out 0.3s;
      }

      &_item {
        font-size: 16px;
        font-weight: 200;
        color: #fff;
        line-height: 30px;

        &:not(:last-child) {
          border-bottom: 0.5px solid #444649;
        }

        &_title {
          display: flex;
          align-items: center;
          padding: 5px 45px;
        }
      }
    }
  }
}
