@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;300;400;500;600;800&family=Oswald:wght@200;300;400;600&display=swap");
:root {
  --font-en: "Oswald", "Noto Sans KR", sans-serif;
  --font-kr: "Noto Sans KR", sans-serif;
  font-weight: 300;
}

/* 초기화 */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

body {
  color: #222222;
  background: #2e3032;
  letter-spacing: -0.025em;
}

fieldset {
  border: 0;
}

body {
  font-family: var(--font-kr);
  color: #222222;
  letter-spacing: -0.025em;
}

.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

#skip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
}
#skip a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  background: #ccc;
}
#skip a:focus, #skip a:active {
  transform: translateY(0);
}

.wrapper {
  margin: 0 auto;
  min-width: 320px;
}

.inner {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.inner2 {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.dimmed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: none;
}

.scroll_hide {
  overflow: hidden;
}

@keyframes slideDown {
  0% {
    top: 100%;
    height: 0;
  }
  100% {
    top: 100%;
  }
}
@keyframes opacityAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background: #36383b;
}
.header .inner {
  display: flex;
  justify-content: space-between;
  height: 126px;
  padding: 0 30px;
}
@media screen and (max-width: 1000px) {
  .header .inner {
    height: 63px;
  }
}
.header .inner .logo_area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  .header .inner .logo_area {
    width: auto;
  }
}
.header .inner .logo_area .logo {
  width: 102px;
}
@media screen and (max-width: 1000px) {
  .header .inner .logo_area .logo {
    width: 45px;
  }
}
.header .inner .header_button {
  display: none;
}
@media screen and (max-width: 1000px) {
  .header .inner .header_button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.header .inner .header_button::after {
  display: block;
  width: 30px;
  height: 30px;
  background-position: center;
  content: "";
}
.header .inner .header_button.menu_button::after {
  background: url("../images/btn_burger.png") no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1000px) {
  .header .inner .header_button.menu_button {
    order: -1;
  }
}
.header .inner .header_button.tel_button::after {
  background: url("../images/ico_tel.png") no-repeat;
  background-size: cover;
}

.gnb {
  position: relative;
  height: 66px;
  border-top: 1px solid #4a4c4f;
  border-bottom: 1px solid #1c1e20;
  background: #2e3032;
}
.gnb::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: height 0.4s;
  content: "";
}
@media screen and (max-width: 1000px) {
  .gnb {
    display: none;
  }
}
.gnb .inner {
  height: 100%;
}
.gnb .inner .nav_list {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.gnb .inner .nav_item {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: var(--font-en);
  font-size: 18px;
  font-weight: 600;
}
.gnb .inner .nav_item_title {
  display: flex;
  align-items: center;
  color: #fff;
}
.gnb .inner .nav_item.is_active .nav_item_title {
  color: #ef4035;
  border-top: 1px solid #ef4035;
}
.gnb .inner .sub_list {
  overflow: hidden;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 0;
  transition: height 0.4s;
}
.gnb .inner .sub_item {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 200;
  color: #fff;
  line-height: 30px;
}
.gnb .inner .sub_item_title {
  display: block;
  padding: 3px 13px 3px 0;
}
.gnb[aria-expanded=true]::before {
  min-height: 700px;
}
.gnb[aria-expanded=true] .sub_list {
  padding-top: 15px;
  height: -moz-fit-content;
  height: fit-content;
}

.gnb_mobile {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  z-index: 4;
  background: #2e3032;
  transform: translateX(-100%);
  transition: transform 0.3s;
}
.gnb_mobile.is_show {
  transform: none;
  font-family: var(--font-en);
  font-weight: 600;
  color: #fff;
}
.gnb_mobile.is_show .button_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 25px;
  border-bottom: 1px solid #4a4c4f;
  background: #36383b;
}
.gnb_mobile.is_show .home_button {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../images/ico_home.png") center/contain no-repeat;
}
.gnb_mobile.is_show .menu_close_button {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../images/btn_close.png") no-repeat;
  background-size: contain;
}
.gnb_mobile.is_show .nav_list {
  display: flex;
  flex-direction: column;
}
.gnb_mobile.is_show .nav_item {
  border-bottom: 1px solid #444649;
  font-size: 17px;
  line-height: 50px;
}
.gnb_mobile.is_show .nav_item.has_sub_list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.gnb_mobile.is_show .nav_item.has_sub_list.is_show {
  background: #ef4035;
}
.gnb_mobile.is_show .nav_item.has_sub_list.is_show .nav_item_title::after {
  transform: rotate(180deg);
}
.gnb_mobile.is_show .nav_item.has_sub_list.is_show .sub_list {
  display: flex;
  flex-direction: column;
  background: #000;
}
.gnb_mobile.is_show .nav_item.has_sub_list .nav_item_title::after {
  display: block;
  width: 10px;
  height: 10px;
  background: url("../images/ico_arrow.png") center/contain no-repeat;
  content: "";
}
.gnb_mobile.is_show .nav_item_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 25px;
}
.gnb_mobile.is_show .sub_list {
  overflow: hidden;
  height: 0;
  transition: height ease-out 0.3s;
}
.gnb_mobile.is_show .sub_item {
  font-size: 16px;
  font-weight: 200;
  color: #fff;
  line-height: 30px;
}
.gnb_mobile.is_show .sub_item:not(:last-child) {
  border-bottom: 0.5px solid #444649;
}
.gnb_mobile.is_show .sub_item_title {
  display: flex;
  align-items: center;
  padding: 5px 45px;
}

.footer {
  background: #1c1e20;
  padding: 60px 40px;
  color: #fff;
}
.footer .logo_area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 9.5vw;
  padding: 0 4.5vw 35px 4.5vw;
  border-bottom: 1px solid rgba(74, 76, 79, 0.5);
}
@media screen and (max-width: 785px) {
  .footer .logo_area {
    gap: 5vw;
  }
}
@media screen and (max-width: 1000px) {
  .footer .logo_area {
    padding: 0;
    padding-bottom: 35px;
  }
}
.footer .logo_box {
  display: flex;
  justify-content: space-between;
  flex: 1;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .footer .logo_box {
    gap: 10px;
  }
}
.footer .logo_box .image_box {
  width: 97px;
  height: 72px;
}
@media screen and (max-width: 520px) {
  .footer .logo_box .image_box {
    width: 80px;
    height: 59px;
  }
}
.footer .logo_box .image_box img {
  max-width: 100%;
}
.footer .logo_box .text_box {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}
@media screen and (max-width: 768px) {
  .footer .logo_box .text_box {
    min-width: 200px;
  }
}
.footer .logo_box .text_box .title {
  color: #ef4035;
}
.footer .logo_box .text_box .tel,
.footer .logo_box .text_box .email {
  font-size: 14px;
  font-weight: 400;
  color: #c1c1c1;
}
.footer .contact_info {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  font-size: 15px;
  font-weight: 400;
  color: #c1c1c1;
  line-height: 24px;
}
.footer .contact_info .privacy_policy {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .footer .contact_info {
    flex-direction: column;
    gap: 20px;
  }
}

.container {
  margin-top: 192px;
}
@media screen and (max-width: 1000px) {
  .container {
    margin-top: 63px;
  }
}
.container .headline_area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image_box {
  display: flex;
}

.headline {
  padding-top: 20px;
  font-size: 46px;
  font-weight: 800;
  line-height: 46px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .headline {
    font-size: 34px;
  }
}

.headline_description {
  font-size: 22px;
  font-weight: 300;
  line-height: 46px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
@media screen and (max-width: 1000px) {
  .headline_description {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .headline_description {
    margin-top: 20px;
    font-size: 22px;
    line-height: 1;
  }
}

.description {
  padding-top: 15px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  line-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
@media screen and (max-width: 1000px) {
  .description {
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
  }
}
@media screen and (max-width: 768px) {
  .description {
    font-weight: 300;
  }
}

.en_headline {
  font-family: var(--font-en);
  font-size: 14px;
  color: #6f6f6f;
  letter-spacing: 5px;
  text-align: center;
  line-height: 30px;
}

.section_visual {
  padding: 240px 0 315px;
  background: url("../images/img_visual_background.png") no-repeat center center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .section_visual {
    padding: 180px 0 190px;
    background: url("../images/img_visual_background_mobile.png") no-repeat center center;
    background-size: cover;
  }
}
.section_visual .inner {
  width: 68.359%;
  max-width: none;
}
@media screen and (max-width: 1000px) {
  .section_visual .inner {
    width: 76.302%;
  }
}
.section_visual .image_box {
  flex-direction: column;
  gap: 80px;
}
@media screen and (max-width: 768px) {
  .section_visual .image_box {
    gap: 50px;
  }
}

.section_service {
  padding: 95px 40px;
  background: #fff;
}
@media screen and (max-width: 768px) {
  .section_service {
    padding: 70px 30px;
  }
}
.section_service .inner {
  max-width: 1300px;
}
@media screen and (max-width: 768px) {
  .section_service .inner {
    max-width: none;
  }
}
.section_service .headline {
  font-size: 36px;
  color: #478a2b;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section_service .headline {
    font-size: 26px;
  }
}
.section_service .headline_description {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section_service .headline_description {
    margin-top: 0;
    font-size: 16px;
    line-height: 1;
  }
}
.section_service .service_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 50px;
  padding: 50px 0 45px;
}
@media screen and (max-width: 768px) {
  .section_service .service_list {
    gap: 10px;
  }
}
.section_service .service_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section_service .image_box {
  width: 110px;
  height: 110px;
  padding: 20px;
  border-radius: 50%;
  background: rgba(81, 86, 93, 0.05);
}
.section_service .description {
  padding-top: 16px;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.section_system {
  padding: 110px 40px 0 40px;
  background: #dff1f5;
}
@media screen and (max-width: 768px) {
  .section_system {
    padding: 40px 30px 20px;
  }
}
.section_system .inner {
  position: relative;
}
.section_system .inner .headline_area {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  animation: opacityAni 1s;
}
.section_system .inner .headline_area .en_headline {
  order: -1;
}
.section_system .inner .headline_area .headline_description {
  color: #656768;
}
.section_system .image_box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 66.9340463458%;
}
.section_system .image_box picture {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .section_system .image_box picture {
    margin-top: 80px;
  }
}
.section_system .image_box picture img {
  height: 100%;
}
.section_system .description {
  position: absolute;
  bottom: 95px;
  width: 100%;
  color: #656768;
}
@media screen and (max-width: 768px) {
  .section_system .description {
    bottom: 0;
  }
}

.section_distribution {
  padding: 240px 0;
  background: url("../images/img_distribution_background.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
}
.section_distribution .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_distribution .headline_area {
  max-width: 600px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .section_distribution .description {
    padding: 45px 30px;
    word-break: auto-phrase;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
}
.section_distribution .en_headline {
  width: 100%;
  order: -1;
  color: #6f6f6f;
}
.section_distribution .question_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700;
}
.section_distribution .question_link:hover {
  background: #fff;
  color: #000000;
  transition: 1s;
  cursor: pointer;
}

.section_promotion {
  padding: 200px 0;
}
.section_promotion .inner {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .section_promotion .inner {
    padding: 0 30px;
  }
}
.section_promotion .headline_area {
  max-width: 400px;
  margin: 0 auto;
}
.section_promotion .en_headline {
  order: -1;
}
.section_promotion .sns_list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
}
@media screen and (max-width: 1000px) {
  .section_promotion .sns_list {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .section_promotion .sns_list {
    margin-top: 40px;
  }
}
@media screen and (max-width: 578px) {
  .section_promotion .sns_list .section_promotion .sns_list {
    padding: 0 70px;
  }
}
@media screen and (min-width: 768px) {
  .section_promotion .sns_item:not(.section_promotion .sns_item.link) {
    display: flex;
    align-items: center;
  }
  .section_promotion .sns_item:not(.section_promotion .sns_item.link):after {
    display: block;
    width: 6px;
    height: 6px;
    margin: 0 25px;
    border-radius: 50%;
    background: #97999a;
    content: "";
  }
}
@media screen and (max-width: 768px) {
  .section_promotion .sns_item {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  .section_promotion .sns_item:nth-child(2)::before, .section_promotion .sns_item:nth-child(2)::after, .section_promotion .sns_item:nth-child(5)::before, .section_promotion .sns_item:nth-child(5)::after {
    display: block;
    width: 6px;
    height: 6px;
    margin: 0 25px;
    border-radius: 50%;
    background: #97999a;
    content: "";
  }
}
.section_promotion .sns_link {
  display: block;
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: url("../images/img_instagram_background.png");
}
@media screen and (max-width: 768px) {
  .section_promotion .sns_link {
    width: 80px;
    height: 80px;
    background-position: -13px -4px;
  }
}
@media screen and (max-width: 768px) {
  .section_promotion .sns_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
  }
}
.section_promotion .sns_link::before {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 110px;
  content: "";
}
@media screen and (max-width: 1000px) {
  .section_promotion .sns_link::before {
    width: 80px;
    height: 80px;
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
  .section_promotion .sns_link::before {
    width: 35px;
    height: 35px;
    background-size: cover;
  }
}
.section_promotion .instagram .sns_link::before {
  background: url("../images/ico_instagram.svg") no-repeat;
  background-size: 47px 100%;
  background-position: center;
}
.section_promotion .facebook .sns_link {
  background: #395595;
}
.section_promotion .facebook .sns_link::before {
  background: url("../images/ico_facebook.svg") no-repeat;
  background-size: 21px 100%;
  background-position: center;
}
.section_promotion .youtube .sns_link {
  background: #e70a03;
}
.section_promotion .youtube .sns_link::before {
  background: url("../images/ico_youtube.svg") no-repeat;
  background-size: 54px 100%;
  background-position: center;
}
.section_promotion .tictok .sns_link {
  background: #000000;
}
.section_promotion .tictok .sns_link::before {
  background: url("../images/ico_tictok.svg") no-repeat;
  background-size: 41px 100%;
  background-position: center;
}
.section_promotion .blog .sns_link {
  background: #2db400;
}
.section_promotion .blog .sns_link::before {
  background: url("../images/ico_blog.svg") no-repeat;
  background-size: 56px 100%;
  background-position: center;
}
.section_promotion .link .sns_link {
  background: #ffffff;
}
.section_promotion .link .sns_link::before {
  background: url("../images/ico_link.svg") no-repeat;
  background-size: 40px 100%;
  background-position: center;
}
.section_promotion .description {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  color: #d1d5db;
  word-break: keep-all;
}
@media screen and (max-width: 768px) {
  .section_promotion .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}

.section_platform {
  padding-top: 95px;
  background: #1c1e20;
  color: #fff;
}
.section_platform .inner {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}
.section_platform .inner .headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-en);
}
.section_platform .inner .headline span:nth-child(2) {
  font-weight: 400;
}
.section_platform .inner .en_description {
  margin-top: 40px;
  padding: 0 30px;
  font-family: var(--font-en);
  font-size: 16px;
  color: #6f6f6f;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section_platform .inner .en_description {
    padding: 0 50px;
  }
}
.section_platform .inner .partner_area {
  position: relative;
  margin-top: 45px;
  padding: 0 50px;
}
.section_platform .swiper-wrapper {
  align-items: center;
}
.section_platform .swiper-slide {
  border: 1px solid #4a4c4f;
}
.section_platform .swiper-slide .image_box {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 40.3846153846%;
}
.section_platform .swiper-slide .image_box svg,
.section_platform .swiper-slide .image_box img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 60%;
  -o-object-fit: contain;
     object-fit: contain;
}
.section_platform .slide_button {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 23px;
  height: 40px;
}
.section_platform .slide_button_prev {
  left: 10px;
  transform: translateY(-50%) rotate(0deg);
  background: url("../images/ico_slide_arrow.png") no-repeat;
  background-position: center;
}
.section_platform .slide_button_next {
  right: 10px;
  transform: translateY(-50%) rotate(180deg);
  margin-left: 600px;
  background: url("../images/ico_slide_arrow.png") no-repeat;
  background-position: center;
}

.section_albums {
  padding-bottom: 100px;
  margin-top: 50px;
}
.section_albums .inner {
  padding: 0 40px;
  max-width: 2080px;
}
.section_albums .album_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
@media screen and (max-width: 1000px) {
  .section_albums .album_list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .section_albums .album_list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.section_albums .album_item {
  overflow: hidden;
}
.section_albums .album_item .album_link {
  display: block;
  position: relative;
  padding-bottom: 70.1219512195%;
}
.section_albums .album_item .album_link:hover {
  transition: 0.4s;
  transform: scale(1.2);
}
.section_albums .album_item .album_link img {
  position: absolute;
  top: 0;
  height: 100%;
}
.section_albums .album_item:nth-child(2), .section_albums .album_item:nth-child(6) {
  grid-row: span 2;
}
.section_albums .album_item:nth-child(2) .album_link, .section_albums .album_item:nth-child(6) .album_link {
  padding-bottom: 142.4796747967%;
}

.section_faq {
  padding: 100px 0;
  background: #36383b;
}
.section_faq .inner2 {
  max-width: 1340px;
  padding: 0 90px;
}
@media screen and (max-width: 1000px) {
  .section_faq .inner2 {
    padding: 0 40px;
  }
}
.section_faq .headline_area {
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
}
.section_faq .headline {
  font-family: var(--font-en);
  color: #fff;
}
.section_faq .en_headline {
  order: -1;
}
.section_faq .faq_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 45px auto 0;
}
.section_faq .faq_list .sub_list {
  display: none;
}
.section_faq .faq_item {
  position: relative;
  padding: 25px 35px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  line-height: 30px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.section_faq .faq_item_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  text-align: left;
}
.section_faq .faq_item_title::after {
  display: block;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  background: url("../images/ico_arrow.png") no-repeat;
  content: "";
}
.section_faq .faq_item_title[aria-expanded=true] {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.section_faq .faq_item_title[aria-expanded=true]::after {
  transform: rotate(180deg);
}
.section_faq .faq_item_title[aria-expanded=true] + .sub_list {
  display: block;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 300;
  color: rgba(209, 213, 219, 0.5);
  line-height: 24px;
}

.section_info {
  background: #fff;
}
.section_info .inner {
  display: flex;
  align-items: center;
  max-width: 1920px;
}
@media screen and (max-width: 1000px) {
  .section_info .inner {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .section_info .inner {
    display: block;
  }
}
.section_info .inner .company_info_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 120px 0;
}
@media screen and (max-width: 1000px) {
  .section_info .inner .company_info_box {
    width: 50%;
    flex: auto;
  }
}
@media screen and (max-width: 768px) {
  .section_info .inner .company_info_box {
    width: 100%;
  }
}
.section_info .inner .company_info_box:nth-child(2n) {
  height: 100%;
  background: #f6f6f7;
}
.section_info .inner .company_info_box [class*=_icon]::before {
  display: block;
  width: 40px;
  height: 40px;
  content: "";
}
.section_info .inner .company_info_box .address_icon::before {
  height: 41.5px;
  background: url("../images/ico_address.svg") center/cover no-repeat;
}
.section_info .inner .company_info_box .office_hour_icon::before {
  background: url("../images/ico_hour.svg") center/cover no-repeat;
}
.section_info .inner .company_info_box .email_icon::before {
  background: url("../images/ico_email.svg") center/cover no-repeat;
}
.section_info .inner .company_info_box .inquiry_icon::before {
  background: url("../images/ico_inquiry.svg") center/contain no-repeat;
}
.section_info .inner .company_info_box .title {
  padding-top: 15px;
  font-family: var(--font-en);
  font-weight: 600;
  color: #2e3032;
}
.section_info .inner .company_info_box .info_description {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #656768;
  text-align: center;
  line-height: 24px;
}